 *, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #FFFFFF;
  margin: 0px;
  font-size: 15px;
  font-family: -apple-system, 'BlinkMacSystemFont', sans-serif;
  width: 100%;
  float: left
}


.container {
  width: 375px;
  margin: auto;
  display: block;
  position: relative;
  height: auto;
}


h1 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}


.nav {
  width: auto;
  height: 35px;
  float: right;
  margin-top: 7px;
  margin-right: 12px;
  z-index: 5
}

.nav-1 {
  position: absolute;
  top: 380px;
  left: 313px;
  z-index: 6;
  margin-top: 2px
}


.route {
  width: 310px;
  height: auto;
  float: right;
  margin-top: 100px;
  z-index: 2;
}


.sandwich {
  width: auto;
  height: 40px;
  margin-top: 7px;
  margin-left: 12px;
  z-index: 3;
}


.scroll {
  margin-left: 169.5px;
  margin-top: 6px;
  margin-bottom: 6px
}


.img {
  width: 375px;
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  height: 496px;
  z-index: -1
}


.list {
  width: 375px;
  height: auto;
  box-shadow: 0px 2px 4px 0px #AFAFAF;
  background-color: #F9F9F9;
}


.row {
  height: 70px;
}


hr {
  width: 340px;
  opacity: 30%;
}


.col1 {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  float: left;
}


.col2 {
  display: inline-block;
  float: left;
  color: #666666;
  font-weight: 300;
  font-size: 13px;
  margin-top: 25px;
}


.col3 {
  float: right;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  margin-right: 16px;
  margin-top: 23px;
}


.col4 {
  float: right;
  position: absolute;
  right: 4px;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  color: #666666;
  margin-right: 16px;
  margin-top: 45px;
}
